extends layout

block content
  section.mt2.sm-mt4.mb2.px2
    .container
      .flex.flex-wrap.shadow
        .col-12.sm-col-6.profile__image(style=`background-image: url(/uploads/${member.photoFull});`)
        .col-12.sm-col-6.flex.bg-white
          .p3.flex.flex-column.justify-between
            div
              .flex.flex-center
                h1.m0.inline-block.fw600= member.nameFull
                a.ml2(href=`/staff/${member.slug}/edit` title="edit member")
                  i.fa.fa-pencil
              p.italic= member.title
              if member.skills.length > 0
                ul.mt0.list-reset.flex.flex-wrap
                  each skill in member.skills
                    li.mr1.mb1.flex.flex-center.h5.info(style="padding: .3rem .5rem")= skill
              if member.bio
                p= member.bio
            - const urlTypes = ['GitHub', 'Dribbble', 'Twitter', 'LinkedIn'];
            - const urls = urlTypes.filter(type => member[`${type.toLowerCase()}Url`].length > 0)
            if member.email || urls.length > 0
              ul.mb0.list-reset.flex
                if member.email
                  li.mr2.flex
                    a.flex.flex-center.hover-no-decoration(href=`mailto:${member.email}`)
                      i.fa.fa-envelope-o(style="font-size: 1.4rem;" aria-hidden="true")
                for url in urls
                  li.mr2
                    a.flex.flex-center.hover-no-decoration(href=`${member[`${url.toLowerCase()}Url`]}`)
                      i.h2.fa(aria-hidden="true" class=`fa-${url.toLowerCase()}`)
