extends layout

block content
  section.mt4.mb3
    .container
      .flex.flex-wrap.shadow
        .col-12.sm-col-6.profile__image(style=`background-image: url(/uploads/${member.photoFull});`)
        .col-12.sm-col-6.bg-black.white
          .px3
            h1.fw600= member.nameFull
            p= member.title
            if member.bio
              p= member.bio
            - const urlTypes = ['GitHub', 'Dribbble', 'Twitter', 'LinkedIn'];
            - const urls = urlTypes.filter(type => member[`${type.toLowerCase()}Url`].length > 0)
            if member.email || urls.length > 0
              ul.list-reset.flex
                if member.email
                  li
                    a.flex.flex-center.hover-no-decoration(href=`mailto:${member.email}`)
                      i.h1.mr2.fa.fa-envelope-o(aria-hidden="true")
                for url in urls
                  li
                    a.flex.flex-center.hover-no-decoration(href=`${member[`${url.toLowerCase()}Url`]}`)
                      i.h1.mr2.fa(aria-hidden="true" class=`fa-${url.toLowerCase()}`)
            a(href=`/staff/${member.slug}/edit`) Edit

    //- .container
    //-   h1= title
    //-     i.ml2.h2.fa.fa-pencil(aria-hidden="true")
    //-     figure.mx0
    //-       img.block.mx-auto.col-12.shadow(src=`/uploads/${member.photoFull}`, alt=`${member.nameFull}`, title=`${member.nameFull}`)
    //-     p.mb0.h2.center.dark-blue #{member.nameFull}
    //-     p.h4.center.dark-blue #{member.bio}
    //-     ul.list-reset.mb0.pt2.flex.flex-wrap
    //-       li.flex.flex-center.mr1.mb1.p1.h6.info python
    //-       li.flex.flex-center.mr1.mb1.p1.h6.info javascript
    //-       li.flex.flex-center.mr1.mb1.p1.h6.info security
    //-       li.flex.flex-center.mr1.mb1.p1.h6.info design
    //-       li.flex.flex-center.mr1.mb1.p1.h6.info people

