extends layout

block content
  section.mt3.mb3
    .container
      h1= title
      ol.list-reset.mxn2.flex.flex-wrap
        each member, index in staff
          li.mb3.px2.col-4.flex
            //- generate gradient for this member
            style.
              .colorbar--#{index}::before {background: #{h.randGradient()}}
            a.black.hover-no-decoration.bg-white.shadow.colorbar(href=`/staff/${member.slug}` class=`colorbar--${index}`)
              .p2.col-12
                figure.mx0
                  img.block.mx-auto.col-7.circle.shadow(src=`/uploads/${member.photoSquare}`, alt=`${member.nameFull}`, title=`${member.nameFull}`)
                p.mb0.h2.center.dark-blue #{member.nameFull}
                p.h4.center.dark-blue #{member.bio}
                ul.list-reset.mb0.pt2.flex.flex-wrap
                  li.flex.flex-center.mr1.mb1.p1.h6.info python
                  li.flex.flex-center.mr1.mb1.p1.h6.info javascript
                  li.flex.flex-center.mr1.mb1.p1.h6.info security
                  li.flex.flex-center.mr1.mb1.p1.h6.info design
                  li.flex.flex-center.mr1.mb1.p1.h6.info people
