mixin memberForm(member = {})

  form.p3.bg-white.shadow(action=`/staff/${(member.slug && `/edit`) || `add`}` method="POST")
    .flex.flex-column.sm-flex-row
      .col-12.sm-col-6.sm-mr3
        .mb2
          label(for="first") First name
          input.block.col-12.field(type="text" id="first" name="name[first]" value=((member.name && member.name.first) || ''))
        .mb2
          label(for="last") Last name
          input.block.col-12.field(type="text" id="last" name="name[last]" value=((member.name && member.name.last) || ''))
        .mb2
          label(for="url") Personal website address
          input.block.col-12.field(type="text" name="url" value=(member.url || ''))
        .mb2
          label(for="bio") Bio
          textarea.block.col-12.field(name="bio")= member.bio || ''
      .col-12.sm-col-6
        - const socials = ['GitHub', 'Twitter', 'Instagram']
        each social in socials
          .mb2
            label(for=`${social.toLowerCase()}Url`)= `${social} address`
            //- .input-group-flex
            //-   .input-group-flex__icon-wrapper
            //-     i.black.fa.fa-fw(class=`fa-${social.toLowerCase()}`)
            //-   input.input-group-flex__input(type="text")
            .input-group-position
              i.input-group-position__icon.fa.fa-fw(class=`fa-${social.toLowerCase()}`)
              input.input-group-position__input.field(type="text" name=`${social.toLowerCase()}Url` value=(member[`${social.toLowerCase()}Url`] || ''))
    input.btn.btn-primary.col-12.mt2(type="submit" value="Save →")
