mixin memberForm(member = {})

  form.p3.bg-white.shadow(action=`/member/${(member.slug && `/edit`) || `add`}` method="POST")
    .flex.flex-column.sm-flex-row
      .col-12.sm-col-6.sm-mr3
        .mb2
          label(for="name") Name
          input.block.col-12.field(type="text" name="name" value=(member.name || ''))
        .mb2
          label(for="url") Personal website address
          input.block.col-12.field(type="text" name="url" value=(member.url || ''))
        .mb2
          label(for="description") Description of company
          textarea.block.col-12.field(name="description")= member.description || ''
      .col-12.sm-col-6
        - const socials = ['GitHub', 'Twitter', 'Instagram']
        each social in socials
          .mb2
            label(for=`${social.toLowerCase()}Url`)= `${social} address`
            //- .input-group-flex
            //-   .input-group-flex__icon-wrapper
            //-     i.black.fa.fa-fw(class=`fa-${social.toLowerCase()}`)
            //-   input.input-group-flex__input(type="text")
            .input-group-position
              i.input-group-position__icon.fa.fa-fw(class=`fa-${social.toLowerCase()}`)
              input.input-group-position__input.field(type="text" name=`${social.toLowerCase()}Url` value=(member[`${social.toLowerCase()}Url`] || ''))
    input.btn.btn-primary.col-12.mt2(type="submit" value="Save →")
