mixin vendorForm(vendor = {})

  form.p3.bg-white.shadow(action=`/add/${vendor._id || ''}` method="POST")
    .flex.flex-column.sm-flex-row
      .col-12.sm-col-6.sm-mr3
        .mb2
          label(for="vendorName") Company name
          input.block.col-12.field(type="text" name="vendorName" value=(vendor.vendorName || ''))
        .mb2
          label(for="vendorUrl") Company website address
          input.block.col-12.field(type="text" name="vendorUrl" value=(vendor.vendorUrl || ''))
        .mb2
          label(for="vendorDescription") Description of company
          textarea.block.col-12.field(name="vendorDescription")= vendor.vendorDescription || ''
      .col-12.sm-col-6
        - const socials = ['Etsy', 'Facebook', 'Instagram', 'Twitter']
        each social in socials
          .mb2
            label(for=`${social.toLowerCase()}Url`)= `${social} address`
            //- .input-group-flex
            //-   .input-group-flex__icon-wrapper
            //-     i.black.fa.fa-fw(class=`fa-${social.toLowerCase()}`)
            //-   input.input-group-flex__input(type="text")
            .input-group-position
              i.input-group-position__icon.fa.fa-fw(class=`fa-${social.toLowerCase()}`)
              input.input-group-position__input.field(type="text" name=`${social.toLowerCase()}Url` value=(vendor[`${social.toLowerCase()}Url`] || ''))
    input.btn.btn-primary.col-12.mt2(type="submit" value="Save →")
